
.star{
    position: absolute;
    left: 58%;
    bottom: 45%;
    font-size: 300%;
    color:  #d9a41d;
  }
  
  .image1mob{
    filter: brightness(0.9);
  }
  
  .hotel{
    position: absolute;
    left: 56%;
    bottom: 40%;
    top: 48.5%;
    font-size:150%;
    color: white;
    font-weight: 200;
    letter-spacing: .3rem;
    font-family:"Barlow", sans-serif;
  }

  .title1{
    position: absolute;
    left: 49.5%;
    bottom: 15%;
    top: 50%;
    font-size: 450%;
    color: white;
    letter-spacing: .6rem;
    font-weight: 300;
    text-align: center;
  }

.chamber{
  font-size: 140%;
  letter-spacing: .1rem;
  font-family: "Gilda Display", serif;
}

