
.star{
    position: absolute;
    left: 65%;
    bottom: 62%;
    font-size: 250%;
    color:  #A68B67;
  }
  .image1{
    width: 100%;
    float: right;
  }
  
  .hotel{
    position: absolute;
    left: 62.5%;
    bottom: 40%;
    top: 32.5%;
    font-size: large;
    color: white;
    font-weight: 200;
    letter-spacing: .2rem;
  }

  .title1{
    position: absolute;
    left: 59%;
    bottom: 30%;
    top: 33%;
    font-size: 300%;
    color: white;
    letter-spacing: .6rem;
    font-weight: 300;
    text-align: center;
  }

.chamber{
  font-size: 150%;
}