
.star{
    position: absolute;
    left: 63%;
    bottom: 62.5%;
    font-size: 250%;
    color:  #d9a41d;
  }
  .image1{
    width: 100%;
    float: right;
  }
  
  .hotel{
    position: absolute;
    left: 60.5%;
    bottom: 40%;
    top: 32.5%;
    font-size:100%;
    color: white;
    font-weight: 200;
    letter-spacing: .3rem;
    font-family:"Barlow", sans-serif;
  }

  .title1{
    position: absolute;
    left: 58%;
    bottom: 20%;
    top: 33.5%;
    font-size: 300%;
    color: white;
    letter-spacing: .6rem;
    font-weight: 300;
    text-align: center;
  }

.chamber{
  font-size: 140%;
  letter-spacing: .1rem;
  font-family: "Gilda Display", serif;
}

