.apropos{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    color: grey;
    padding-bottom: 5em;
}
.num{
    color: white;
}
.email{
    color: white;
}
.mentions__legales{
    text-align: center;
    color: white;
    background-color: #1B1B1B;
    padding-top: 3em;
    padding-bottom: 3em;
}
.mentions__legales__copyright{
    color: grey;
}

.apropos__contact i {
    color: rgb(226, 226, 226);
    padding: 8px;
}

.apropos__contact i:hover {
    cursor: pointer;
}

.fa-instagram:hover {
color: pink;
}

.fa-twitter:hover {
    color: rgb(69, 161, 223);
}

.fa-youtube:hover {
    color: rgb(214, 27, 27);
}

.fa-facebook-f:hover {
    color: rgb(27, 61, 214);
}

.fa-pinterest-p:hover {
    color: rgb(255, 85, 85);
}

.apropos__contact a {
    text-decoration: underline rgb(255, 196, 0);
}

.apropos__contact i {
    color: rgb(226, 226, 226);
    padding: 8px;
}

.apropos__contact i:hover {
    cursor: pointer;
}

.fa-instagram:hover {
color: pink;
}

.fa-twitter:hover {
    color: rgb(69, 161, 223);
}

.fa-youtube:hover {
    color: rgb(214, 27, 27);
}

.fa-facebook-f:hover {
    color: rgb(27, 61, 214);
}

.fa-pinterest-p:hover {
    color: rgb(255, 85, 85);
}

.apropos__contact a {
    text-decoration: underline rgb(255, 196, 0);
}