.bodyacc {
     margin: 0;
   
}

.imgtop {
    margin-left: 20%;
    width: 80%;
    height: 64em;
    filter: brightness(0.7);
}


// header

.headeracc {
    text-align: center;
    color: rgb(226, 226, 226);
    width: 80%;
    margin-left: 18%;
    position: absolute;
    top: 20%;
}

.headeracc i {
    color: #d49f59;
    font-size: 1em;
    width: 2em;
}

.h3mobi {
    visibility: hidden;
}

.headeracc h3 {
    font-size: 20px;
    word-spacing: -2px;
    letter-spacing: 8px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 300;
    height: 0px;
}

.headeracc h4 {
    font-size: 70px;
    letter-spacing: 18px;
    font-family: "Gilda Display", serif;
    font-weight: 100;
    height: 2em;
}

.headeracc button {
    width: 18em;
    height: 4em;
    color: rgb(226, 226, 226);
    background: transparent;
    border: rgb(190, 190, 190) solid 0.1em; 
    font-family: "Barlow Condensed", sans-serif;
    font-size: 15px;
    letter-spacing: 6px;
    transition: all 1s;
}

.headeracc button:hover {
    cursor: pointer;
    background-color: #1B1B1B;
    transition: all 1s;
}

// carousel

.carousel {
    position: relative;
}

.accslide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 2s;
}

.accslide[data-active] {
    opacity: 1;
    transition-delay: 0s;
}

.slide-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 3em;
    color: rgb(255, 255, 255);
    margin-left: 20%;
    transform: translateY(600%);
    opacity: 0.5;
    transition: 1s;
}

.slide-button:hover {
    cursor: pointer;
    opacity: 1;
    transition: 1s;
}

.slide-button.next {
    right: 1rem;
}

.slide-button.prec {
    left: 1rem;
}


// main

.mainacc {
    display: flex;
    padding-bottom: 3em;
}

.test {
    width: 80%;
    height: 100%;
    margin-left: 20%;
    background-color: #1f1f1f;
    position: absolute;
    top: 94% ;
}

.mainexp {
    margin: 4em;
}

.mainacc i {
    color: #af7120;
}

.mainexp li {
    list-style-type: none;
    height: 2em;
}

.mainexp ul {
    height: 8em;
}

.mainexpli1 {
    color: #A68B67;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 6px;
    word-spacing: 5px;
}

.mainexpli2 {
    font-size: 3em;
    color: rgb(226, 226, 226);
    font-weight: 400;
    font-family: "Gilda Display", serif;
}

.mainexp p {
    color: grey;
    margin-left: 2em;
    width: 50%;
    font-family: "Barlow", sans-serif;
    font-size: 20px;
}

.mainimg img {
    width: 17em;
    height: 23em;
}

.mainimg {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    position: absolute;
    left: 55%;
}

.imgpadtop {
    padding-top: 8em;
}

// section 2

.mainaccgrid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 1fr;
    gap: 2em;
}

.mainaccgrid img {
    width: 100%;
}

.mainaccgrid2 img {
    width: 100%;
}

.ihidm {
    visibility: visible;
}

.mob_ {
    visibility: hidden;
}

.mainaccgrid2 {
    padding-top: 2em;
    display: grid;
    grid-template-columns: 39em 39em;
    gap: 2em;
    position: relative;
    bottom: 28%;
}

.tst {
    padding-top: 1em;
    background-color: #1c1c1c;
    height: 80em;
}
 
.tst img {
    filter: brightness(0.8);
}

.gridmainbt {
    position: absolute;
    left: 24%;
    top: 85%;
}

.mobbt1 {
    visibility: hidden;
}

.gridmainbt2 {
    position: absolute;
    top: 85%;
    left: 54%;
}

.gridmainbt3 {
    position: absolute;
    top: 85%;
    left: 83.8%;
}

.gridmainbt4 {
    position: relative;
    bottom: 55%;
    left: 82%;
}

.gridmainbt5 {
    position: relative;
    bottom: 55%;
    left: 82%;
}

.gridmainbt, .gridmainbt2, .gridmainbt3, .gridmainbt4, .gridmainbt5 {
    transition: all 1s;
    width: 10em;
    height: 3em;
    color: rgb(226, 226, 226);
    background: transparent;
    border: rgb(190, 190, 190) solid 0.1em; 
    font-family: "Barlow Condensed", sans-serif;
    font-size: 15px;
    letter-spacing: 8px;
    font-weight: 600;
    transform: rotate(-90deg);
}

.lipri, .lisuit {
    visibility: hidden;
}

.tst button:hover {
    cursor: pointer;
    background-color: #1B1B1B;
    transition: all 1s;
}

.maingridul {
    color: rgb(226, 226, 226);
    position: relative;
    bottom: 22%;
}

.liprix {
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: 300;
    font-family: "Barlow", sans-serif;
    color: rgb(226, 226, 226);
}

.lisuite {
    font-size: 35px;
    font-family: "Gilda Display", serif;
    color: rgb(226, 226, 226);
}

.maingridul1 {
    color: rgb(226, 226, 226);
    position: relative;
    bottom: 32%;
}

.ihidm {
    color: rgb(226, 226, 226);
    transform: rotate(142deg);
    position: absolute;
    top: 70%;
}

// section 3

.tst2 {
    padding-top: 1em;
    background-color: #1f1f1f;
    height: 125em;
}

.imgmob {
    visibility: hidden;
}

.tst2 img {
    filter: brightness(0.9);
}

.pmob {
    visibility: hidden;
 }

.mainaccgrid3 button:hover {
    cursor: pointer;
}

.mainaccgrid3 img {
    width: 43em;
    height: 28em;
}

.bak p {
    margin-left: 40px;
}

.mainaccgrid3 {
    padding: 5em;
    display: grid;
    grid-template: 28em 28em 28em 28em / 43em 43em;
}

.mainaccgrid3 li {
    list-style-type: none;
    height: 2em;
}

.mainaccgrid3 p {
    color: grey;
    width: 100%;
    font-family: "Barlow", sans-serif;
    font-size: 20px;
}

.st {
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 300;
}
.restobt {
    width: 17em;
    height: 5em;
    background-color: #A68B67;
    border-style: none;
    color: rgb(226, 226, 226);
    font-family: "Barlow Condensed", sans-serif;
    font-size: 15px;
    letter-spacing: 8px;
    margin-left: 35px;
}

.restobtmob {
    visibility: hidden;
}

.bak {
    background-color: #2d2d2d;
}

.tst2 ul {
    padding-top: 3em;
}

// section 4

.mainaccgrid4 {
    padding: 2em;
    display: grid;
    grid-template: 25em / 28% 28% 28%;
    gap: 3em;
}

.mobgrid {
    display: grid;
    grid-template: 25em / 26em 26em 26em;
    gap: 3em;
}

.lih5 {
    color: rgb(226, 226, 226);
    font-size: 4em;
    font-family: "Gilda Display", serif;
    text-align: center;
    width: 80%;
}

.mainaccgrid4 i {
    color: #A68B67;
}

.phabs {
    position: relative;
    bottom: 13%;
    left: 10%;
}

.accp5 {
    color: grey;
    margin-left: 2em;
    width: 93%;
    font-family: "Barlow", sans-serif;
    font-size: 20px;
    height: 5em;
}

.mainaccgrid4 li {
    list-style-type: none;
}

.infoli2 {
    color: grey;
    font-size: 25px;
    margin-left: 2em;
}

.numli2 {
    color: #A68B67;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    font-size: 20px;
    margin-left: 50px;
}

.nuli2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 1em;
}

.liionfo2 {
    display: flex;
    padding-left: 3em;
}

.dej1 {
    color: rgb(226, 226, 226);
    font-size: 2em;
    font-family: "Gilda Display", serif;
    padding-top: 2em;
    height: 2em;
}

.dej2 {
    color: #99774c;
    font-size: 50px;
    letter-spacing: 2px;
    height: 2em;
}

.spandej {
    color: grey;
    letter-spacing: 2px;
    font-size: 25px;
    font-family: "Barlow", sans-serif;
}

.dej3 {
    color: grey;
    font-size: 25px;
    height: 40px;
    font-family: "Barlow", sans-serif;
}

.bak i {
    padding-right: 1em;
    color: #99774c;
}

.dejuncheck i {
    color: grey;
}

// section 5

.sec5 {
    padding: 6em;
}

.sec5 h5 {
    color: rgb(226, 226, 226);
    font-size: 3em;
    font-family: "Gilda Display", serif;
}

.sec5grid {
    display: grid;
    grid-template: 15em 15em / 28% 28% 28%;
    gap: 3em;
}

.gridborder {
    padding: 1em;
    border: 1px solid rgba(128, 128, 128, 0.123);
}

.fa-earth-europe {
    font-size: 3em;
}

.sec5 i {
    color: #99774c;
    height: 1em;
}

.sec5 li {
    list-style-type: none;
}

.lisec51 {
    color: rgb(226, 226, 226);
    font-size: 2em;
    font-family: "Gilda Display", serif;
    height: 2em;
    font-weight: 100;
}

.lisec52 {
    color: grey;
    font-size: 18px;
    font-family: "Barlow", sans-serif;
}





