body{
    margin: 0;
    padding: 0;
}



.paragraphe1{
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-around;
    color: rgb(152, 150, 150);
    font-family: "Barlow", sans-serif;
    font-weight: 100;
    font-style: normal;
    padding-left: 4.5%;
}



.div1{
    display: flex;
    flex-flow:row nowrap;
    justify-content: left;
    color: white;
    margin-left: 8%;
    gap: 5%;
    margin-top: 1em;

}

.div2{
    display: flex;
    flex-flow:column nowrap;
    justify-content: left;
    color: white;
    margin-left: 8%;
}

.div3{
    display: flex;
    flex-flow:column nowrap;
    justify-content: left;
    color: white;
    margin-left: 8%;
}

.div4{
    display: flex;
    flex-flow:column nowrap;
    justify-content: left;
    color: white;
    margin-left: 8%;
}

.div01{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    text-align: left;
    padding-left: 4.5%;
}

.div03{
    display: flex;
    flex-flow: column nowrap;
}

.div02{
    display: flex;
    flex-flow: column nowrap;
}

.deluxe{
    color: white;
    padding-left: 3.5%;
    font-family: "Gilda Display", serif;
}

main{
    width: 80%;
    margin-left: 20%;
}

.ducsman{
    color: #A68B67;
    padding-left: 3.5%;
    font-family: "Gilda Display", serif;
}

.checkin{
    margin: 0;
    font-size: x-large;
    font-family: "Gilda Display", serif;
}

.checkout{
    margin: 0;
    font-size: x-large;
    font-family: "Gilda Display", serif;
}

.amenagement li {
    list-style-type: none;
    font-size: 20px;
    height: 2em;
    

}

li i {
    padding-right: 15px;
    color: #A68B67 ;
}

.amé{
    font-size: x-large;
    font-family: "Gilda Display", serif;
}

.instructionne{
    margin: 0;
    font-size: x-large;
    font-family: "Gilda Display", serif;
}

.animals{
    margin: 0;
    font-size: x-large; 
    font-family: "Gilda Display", serif;
}

.childs{
    margin: 0;
    font-size: x-large;
    font-family: "Gilda Display", serif;
}

.div0{
    margin: 0;
    padding: 0;
}

.p3{
    position: relative;
    bottom: 5%;
    font-family: "Barlow", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: rgb(152, 150, 150)
}

.boutton{
    height: 3em;
    width: 15em;
    background-color: grey;
    border: 0;

}

.p4{
    font-family: "Barlow", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.baby{
    font-family: "Barlow", sans-serif;
    font-weight: 100;
    font-style: normal;

}



