@media only screen and (min-width: 390px) {
  
    .contact {
     flex-direction: column;
     align-items: center;
     justify-content: center;
   
    }
    {
    .asideacc {
        display: none;
    }
    }
     
     
     
   }
    