@media screen and (max-width: 500px) {
   
    .contact {
     flex-direction: column;
     align-items: center;
     justify-content: center;
   
    }
    
    .asideacc {
        visibility: hidden;
        
    }
    
    #openBtn{
        visibility: visible;
        position: fixed;
        top: 0%;
        margin: 1em;
    }
    
    .burger__icon span{
        background-color: white;
    }

    .burger__icon {
        background-color: #1B1B1B;
        padding: 10px;
        border-radius: 20px;
        position: fixed;
    }
    
    
  
    .sidenav li{
        height: 5em;
    }
    .sidenav{
        visibility: visible;
        background-color:#1B1B1B;
    }
    .sidenav a:hover {
        color:#A68B67;
      }
    .carte{
        display: none;
    }
    .contact__info{
        margin-top: 2em;
    }
    .apropos{
        flex-direction: column ;
    }
    .mentions__legales{
        position: absolute;
        left: 0;
        
        
    }

    .container{
        font-size: 50%;
        bottom: 80%;
        display: flex;
        flex-direction: row;
        left: 50%;
        top: 0%;
        align-content: center;

    }

    .star{
        display: flex;
        flex-flow: row nowrap;
    }

}

@media  screen and (min-width: 500px){
  #openBtn{
    display: none;
  }
}

